{% extends 'info/base.html' %}

{% block content %}

<br>
<div class="card card-body">
    <div class="row">
        <div class="col border-bottom">
            <h1>{{ location.entry.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <br>
            Location number: {{ location.number }}
        </div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <br>
            Location effect: {{ location.effect }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <div class="container">
                {{ location.entry.content }}
            </div>
        </div>
    </div>
</div>

{% endblock %}